/* @import url('https://fonts.googleapis.com/css2?family=Angkor&family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=DM+Sans:ital,opsz,wght@0,9..40,200;1,9..40,200&family=Inter&family=Montserrat&family=Nanum+Gothic&family=Nanum+Myeongjo:wght@700&family=Roboto:wght@300&family=Tilt+Prism&display=swap');

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.hourlyHeaderText {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.75rem;
}

.menuBlockWrapper {
    display: flex;
}

.menuContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.menuContent>img {
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.chillBlock {
    background-color: #b9d9eb;
}

.grillBlock {
    background-color: #f03d3dcf;
}

.menuLink {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

.sprinkles {
    animation: twinkle 5s infinite alternate ease-in-out;
    width: 110vw !important;
    height: auto;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
}

.formRoot {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    width: 100%;
}

.formRoot input {
    border-radius: 16px;
    font-weight: normal;
    border: 1px solid black;
    width: 100%;
    height: 35px;
    padding: 10px;
  }
  
  .formRoot textarea {
    font-weight: normal;
    height: 100px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
  }
  
  .formRoot form {
    margin-top: 1.5rem;
    width: 40%;
  }

.formEmail {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formTextArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 20px;
}

.submitButtonWrapper {
    display: flex;
    justify-content: center;
}

.submitButton {
    margin: 20px;
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 35px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: none;
    font-size: 1.0rem;
    width: 190px;
    font-weight: bold;
}

.submitButton:hover {
    background-color: black;
    cursor: pointer;
    box-shadow: none;
}

.menuHeader {
    margin-top: 150px;
    text-align: center;
}

.menuImage {
    width: 100%;
}

.drawerPhoneIcon {
    fill: white;
    margin-right: 5px;
    width: 25px;
}

.productCardWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 25px;

}

.marginBottomSmall {
    margin-bottom: 80px;
}

.drawerItemLogin {
    display: flex;
    background-color: #3b3a73;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.drawerItemLogin>span {
    color: white;
}

.navCallButton {
    display: flex;
    background-color: #0047bb;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButtonMobile {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButton>span {
    margin: auto;
}

.aboutTitleHeader {
    text-align: center;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.aboutWrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.aboutUsText {
    line-height: 2;
    margin-bottom: 0;
    color: #6198eb;
}

.aboutUsTextWrapper {
    padding: 1rem 0;
    margin-right: 1rem;
    width: 50%;
}

.flip-card {
    width: 345px;
    margin: 15px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: fit-content;
    min-height: 497px;
}

.flip-card img {
    max-height: 345px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.flip-card.flipped {
    transform: rotateY(180deg);
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 497px;
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    /* background-color: #d7fbda; */
}

.flip-card-back {
    /* background-color: #fbd7f8; */
    transform: rotateY(180deg);
}

.card-content {
    text-align: center;
}

.backCardText {
    padding: 20px;
    text-align: left;
    font-size: .8rem;
}

.flip-button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.emailButtonLink {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #0047bb;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 40px;
    margin: 20px auto;
    z-index: 2;
}

.markateFormWrapper {
    width: 50%;
}

.markateFormWrapper iframe {
    max-height: 1200px;
}

.teamNameImageWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
}

.hoursWrapper {
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.hoursWrapper p {
    text-align: left;
    font-weight: bold;
}

.hoursTime {
    color: #0047bb;
    font-weight: normal !important;
}

.hoursDayTime {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.saturdayAppt {
    text-align: left;
}

.teamImageWrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    flex-wrap: wrap;
}

.carrierWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    max-width: 150px;
}

.carrierWrapperRoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

.areasServedWrapper {
    color: black;
    display: flex;
    justify-content: center;
}

.areasServedHeader {
    font-weight: bold;
}

.areasServedSubWrapper {
    margin: 20px;
}

.moreText {
    margin-bottom: 0;
    margin-left: 10px;
}

.scrollToLocation {
    height: 100px;
    background-color: white;
}

.bannerCallButton {
    background-color: #3b3a73;
    color: white;
    width: 200px;
    margin: 20px auto;
    border-radius: 35px;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.bannerCallButton:hover {
    background-color: #d51d35;
}


.freeEstimateScrollButton {
    background-color: white;
    color: #3b3a73;
    width: 200px;
    margin: 20px auto;
    border-radius: 35px;
    border: 1px solid #3b3a73;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.freeEstimateScrollButton:hover {
    background-color: #d51d35;
}

.contactUsButtonStyled {
    display: flex;
    background-color: white;
    color: #3b3a73;
    width: 200px;
    margin: 20px auto;
    border-radius: 35px;
    border: 1px solid #3b3a73;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    justify-content: center;
}

.testimonialCard {
    background-color: #3b3a73;
    width: 300px;

    margin: 1rem;
    color: white;
    border-radius: 16px;
    padding: 25px 20px;
}

.testimonialCardWrapper {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}


.sectionWrapper {
    display: flex;
    justify-content: center;
    min-height: 500px;
    padding: 50px 25px;
}

.aboutSectionWrapper {
    display: flex;
    justify-content: center;
}

.productSectionWrapper {
    display: flex;
    justify-content: center;
}

#sectionTwo {
    /* background-color: #0047bb; */
}

#sectionOne {
    /* background-color: #0047bb; */
}

.sectionOneSectionWrapper {
    display: flex;
    justify-content: center;
    /* background-color: #0047bb; */
    min-height: 500px;
    padding: 50px 1rem;
}

.sectionOneSectionWrapper p {
    color: #0047bb;
    font-weight: bold;
}

.aboutSectionWrapper {
    display: flex;
    flex-direction: column;
}

.drawerItemLogin {}

.reviewButton {
    background-color: #333333;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.reviewHeader {
    font-size: 1.2rem;
    text-transform: none;
    color: white;
    margin: 0;
}

.mapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.footerRoot {
    display: flex;
    background-color: #3b3a73;
    color: white;
}

.footerContactWrapper {
    display: flex;
    justify-content: center;
    margin: auto
}

.rocsitesText {
    font-size: 0.7rem;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.rocsitesText a {
    color: white;
}

.socialFooter {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.marginAuto {
    margin: 10px auto;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}


.socialLinkWrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.socialLinkWrapperNav {
    display: flex;
    justify-content: center;
    margin: auto 20px;
}

.socialLinkWrapperNavMobile {
    display: flex;
    margin: 15px;
}

.socialDrawer {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.socialDrawerFb {
    width: 40px;
    margin: 0 5px;
    margin-bottom: 1px;
}

.socialNav {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.socialNavFb {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    margin-bottom: 1px;
}

.connectHeader {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.addressText {
    text-align: center;
    margin: 40px 0;
}

@keyframes twinkle {
    from {
        transform: translateX(1vw);
    }

    to {
        transform: translateX(-1vw);
    }
}

@media(max-width:960px) {
    .socialLinkWrapperNav {
        display: none;
    }

    .navCallButton,
    .navCallButtonMobile {
        font-size: 0.75rem;
    }

    .mapWrapper iframe {
        width: 90%;
    }

    .aboutWrapper {
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }

    .aboutSectionWrapper iframe {
        width: 90%;
        margin: auto;
    }


    .aboutUsText {
        width: 100%;
    }

    .teamImageWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutUsTextWrapper {
        margin-right: 0;
        width: 100%;
    }

}

@media(max-width:600px) {

    .testimonialCardWrapper {
        flex-direction: column;
        justify-content: center;
    }

    .testimonialCard {
        width: auto;
    }

    .menuLink {
        font-size: 1.25rem;
    }

    .markateFormWrapper {
        width: 100%;
    }

    .socialLink {}

    .formRoot form {
        width: 75%;
      }
    

    .hoursDayTime {
        margin: auto;
        align-items: center;
        width: 90%;
    }

    .hoursWrapper {
        width: 100%;
    }

}